@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text{
  color: brown;
  font-size: 100px;
  font-weight: 900;
}